# String Convert
- given two strings, s1 and s2
- convert s1 to s2 using only insert, delete, or replace operations
- find minimum count of edit operations to make conversion
- divide and conquer approach
    - at each step try insert, delete, replace recursively and return the min of the three

In [1]:
def string_convert(s1, s2, index1, index2):
    if index1 == len(s1):
        return len(s2)-index2
    if index2 == len(s2):
        return len(s1)-index1
    if s1[index1] == s2[index2]:
        return string_convert(s1, s2, index1+1, index2+1)
    else:
        delete_op = 1 + string_convert(s1, s2, index1, index2+1)
        insert_op = 1 + string_convert(s1, s2, index1+1, index2)
        replace_op = 1 + string_convert(s1, s2, index1+1, index2+1)
        return min(delete_op, insert_op, replace_op)

In [2]:
string_convert("table", "tbrles", 0, 0)

3